{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="{%url 'home'%}">Home</a></li>
            <li><a href="{%url 'viewstd'%}">View Stdudent</a></li>
            <li><a href="{%url 'signin'%}">Signin</a></li>
            <li><a href="{%url 'signup'%}">Signup</a></li>
        </ul>
    </nav>


    {% block body %}
        
    {% endblock body %}
       
</body>
</html>
